<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tempora assumenda soluta facilis ab eveniet eos recusandae provident incidunt consequuntur cum ad non perspiciatis, in ducimus quisquam maxime officiis facere.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tempora assumenda soluta facilis ab eveniet eos recusandae provident incidunt consequuntur cum ad non perspiciatis, in ducimus quisquam maxime officiis facere.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tempora assumenda soluta facilis ab eveniet eos recusandae provident incidunt consequuntur cum ad non perspiciatis, in ducimus quisquam maxime officiis facere.</p>
        </ul>
    </div>
</div>

